body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}
:root{
--primary-color: #2563eb; /* Soft Blue */
 --secondary-color: #f8fafc; /* Very Light Gray */
 --accent-color: #f59e0b; /* Soft Amber */
 --dark-text: #1e293b;
 --light-text: #64748b;
 --white: 
}
#logo img{
    height: 60px;
    width: 70px;
    /* margin-left: -80px; */
}
#navbar{
    display: flex;
    background-color:var(--secondary-color);
    justify-content:space-around;
    align-items: center;
    position: sticky;

}
#nav-link {
    display: flex;
    list-style: none;
    gap: 20px;
}
#nav-link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}
#nav-link a:hover {
    text-decoration: none;
    transition: 0.3s;
    color:var(--dark-text);
    font-weight: bold;
}
#toggle-menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.btns{
    color:var(--primary-color);
    display: inline-block;
    border-radius: 5px;
    border: 2px white;
    cursor: pointer;
    margin: auto;
    background-color:var(--secondary-color)
}
.btns:hover{
    color:darkblue;
}
@media (max-width: 768px) {
    #toggle-menu {
        display: block;
    }
    #nav-link {
        display: none;  
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background:var(--secondary-color);
        padding: 20px 0;
        text-align: center;
    }
    #nav-link.show {
        display: flex;
    }
    .buttons {
        display: none;
    }
}
.darkMode{
    --primary-color:var(--primary-color)
    --secondary-color:var(--secondary-color)
}
/* nav section closed */
.main-section{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    background-color: var(--secondary-color);
    border: 2px solid black;
    text-align: center;
    align-items: center;
    }
.main-heading{
    font-size: 2.5rem;
    color: var(--dark-text);
}
.paragraph{
    font-size: 1.5rem;
    margin:auto 122px;
    color: var(--light-text);
}
.main-section a{
    color: var(--primary-color);
    text-decoration: none;
    margin: 34px;
}
.main-section a:hover{
    color: var(--dark-text);
    transition: 0.3s;
    text-decoration: none;
    margin: 34px;
}
.main-section img{
    width: 100%;
    height: auto;
}
@media(max-width:768px)
{
    .main-section{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
.services-container{
display: grid;
grid-template-columns:repeat(3, 1fr);
    text-align: center;
gap: 20px;
}
.cards{
    border: 2px solid black;
    margin: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 45px;
}
.cards h3{
    font-size: 1.5rem;
    color: var(--dark-text);
}
.cards p{
    font-size: 1rem;
    color: var(--light-text);
}
.cards a{
color:var(--primary-color);
text-decoration: none;
}
.cards a:hover{
color:var(--dark-text);
transition: 0.3s;
text-decoration: none;
}
@media(max-width:768px)
{
    .services-container{
        grid-template-columns: 1fr;
    }
}