
.main-section{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    background-color: var(--secondary-color);
    border: 2px solid black;
    text-align: center;
    align-items: center;
    }
.main-heading{
    font-size: 2.5rem;
    color: var(--dark-text);
}
.paragraph{
    font-size: 1.5rem;
    margin:auto 122px;
    color: var(--light-text);
}
.main-section a{
    color: var(--primary-color);
    text-decoration: none;
    margin: 34px;
}
.main-section a:hover{
    color: var(--dark-text);
    transition: 0.3s;
    text-decoration: none;
    margin: 34px;
}
.main-section img{
    width: 100%;
    height: auto;
}
@media(max-width:768px)
{
    .main-section{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
