
/* table is completed */
.form-section{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    /* border: 2px solid black; */
}
.form-labels{
    color: var(--dark-text);
    margin: 10px;
    padding: 8px;
        font-family: "poppins" , sans-serif;
}
.form-labels input{
    color: var(--dark-text);
    border:2px solid grey;
    border-radius: 10px;
    margin: 12px;
    padding: 8px;
    text-align: center;
        font-family: "poppins" , sans-serif;
}
.form-labels select{
    color: var(--dark-text);
    border:2px solid grey;
    border-radius: 10px;
    margin: 12px;
    padding: 8px;
    text-align: center;
        font-family: "poppins" , sans-serif;
}
.form-labels textarea{
    color: var(--dark-text);
    border:2px solid grey;
    border-radius: 10px;
    margin: 12px;
    padding: 8px;
        font-family: "poppins" , sans-serif;
}
.f-select{
    color:var(--light-text);
font-family: "open sans" , sans-serif;
}
.f-btn{
    padding: 8px;
    margin: 12px;
    background-color:var(--secondary-color);
    border: 2px solid grey;
    border-radius: 10px;
    font-family: "open sans" , sans-serif;
    color: var(--primary-color);
}
.f-btn:hover{
    color: var(--dark-text);
    transition: 0.3s;
    background-color:var(--light-text);
}
/* form completed */
.aside-section{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    font-size: 1rem;
    font-family: "open sans" , sans-serif;
    /* border: 2px solid grey; */
    background-color: var(--secondary-color);
    margin: 23px;
}
/* aside section completed */
.footer-section{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-family: "open sans" , sans-serif;
    background-color: var(--secondary-color);
    margin: 10px;
}
.footer-section a{
 padding: 12px;   
}
.footer-links a{
    color: var(--primary-color);
    text-decoration: none;
}
.footer-links a:hover{
    color: var(--dark-text);
    transition: 0.3s;
    text-decoration: none;
}
@media(max-width:768px)
{
    .footer-section{
        flex-direction: column;
        align-items: center;
    }
}